*{
    font-family: arial, helvetica, sans-serif;
    box-sizing: border-box;
    border: none;
    margin: 0px;
    padding: 0px;
}
:root{
    --main-color: hsl(240, 60%, 30%);
    --alt-color: hsl(60, 60%, 80%);
    --text-color: hsl(60, 60%, 90%);
    --alt-text-color: hsl(240, 60%, 10%);
    --highlight: hsl(240, 60%, 42%);
    --alt-highlight: hsl(60, 0%, 100%);
    --dimmer: hsl(240, 60%, 22%);
    --alt-dimmer: hsl(60, 60%, 70%);
    --glass: hsla(240, 60%, 20%, 0.50);
    --alt-glass: hsl(60, 60%, 70%, 0.50);
    scroll-padding-top: 50px;
    interpolate-size: allow-keywords;
}
@media (prefers-color-scheme: dark){
    :root{
        --main-color: hsl(50, 80%, 50%);
        --alt-color: hsl(240, 50%, 5%);
        --text-color: hsl(240, 50%, 5%);
        --alt-text-color: hsl(50, 80%, 80%);
        --highlight: hsl(50, 80%, 60%);
        --alt-highlight: hsl(240, 50%, 12%);
        --dimmer: hsl(50, 80%, 40%);
        --alt-dimmer: hsl(240, 50%, 0%);
        --glass: hsl(50, 80%, 40%, 0.50);
        --alt-glass: hsl(240, 50%, 5%, 0.50);
    }
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}
button{
    color: inherit;
    font-size: 16px;
}
body{
    padding-bottom: 50px;
}
header{
    color: var(--text-color);
    background-color: var(--main-color);
    text-align: center;
    padding: 5px;
}
.navbar{
    display: block;
    width: 100%;
    min-height: 50px;
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar #logo{
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    float: left;
}
.navbar ul{
    height: inherit;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navbar a, .navbar button{
    height: inherit;
    color: var(--text-color);
    background-color: var(--main-color);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover , .navbar button:hover, .navbar #logo:hover{
    background: linear-gradient(to top, var(--highlight), hsl(from var(--highlight) h s l / 0.10));
    cursor: pointer;
}
.contactlinks{
    /* display: none; */
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    position: absolute;
    border: var(--main-color) 2px solid;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    transition: block-size 0.5s;
}
.contactlinks a{
    height: inherit;
    padding: 10px;
    background-color: var(--alt-color);
    color: var(--alt-text-color);
    border-bottom: var(--main-color) 1px solid;
}
.contactlinks a:hover{
    background-color: var(--highlight);
    color: var(--text-color);
}
.contactref:hover .contactlinks{
    /* display: flex;
    flex-direction: column; */
    height: auto;
}
.hamburger{
    display: none;
    width: 50px;
    height: 50px;
    /* background-color: var(--main-color); */
}
.hamburger .line{
    height: 3px;
    width: 30px;
    margin: 3px;
    transition: 0.5s;
    background-color: var(--text-color);
    text-align: center;
}
@media screen and (max-width: 700px){
    /* .navbar ul{
        display: none;
    } */
     .navbar ul{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: block-size 0.5s;
     }
    .navbar li, .navbar button, div{
        display: block;
        width: 100%;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        float: right;
        justify-content: center;
        align-items: center;
    }
    .hamburger:hover, .hamburger-open:hover{
        background: linear-gradient(to top, var(--highlight), hsl(from var(--highlight) h s l / 0.10));
    }
    .hamburger-open~ul{
        height: auto;
    }
    .hamburger-open #l1.line{
        transform: translate(0, 9px) rotate(-45deg);
    }
    .hamburger-open #l2.line{
        opacity: 0;
    }
    .hamburger-open #l3.line{
        transform: translate(0, -9px) rotate(45deg);
    }
}



main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: hsl(0, 0%, 100%);
    color: hsl(240, 60%, 10%); */
}
main section:nth-child(odd){
    background-color: var(--main-color);
    color: var(--text-color);
}
main section:nth-of-type(even){
    background-color: var(--alt-color);
    color: var(--alt-text-color);
}
section{
    width: 100%;
    padding: 20px;
}



#home{
    width: 100%;
    height: 80vh;
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background: radial-gradient(ellipse at center, hsl(240, 20%, 20%) 60%, hsl(0, 0%, 0%) 100%);
    overflow: hidden;
    align-content: center;
}
#home::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, transparent 55%, hsl(240, 10%, 20%) 60%, transparent 65%);
    transition: 4s;
    animation: glow 4s ease-in-out infinite alternate;
}
@keyframes glow {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
#home h1{
    color: hsl(0, 0%, 100%);
    text-align: center;
}



#aboutme{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}
#aboutme h2{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
#aboutme #profile{
    display: flex;
    flex: 1 0 200px;
    align-items: center;
    justify-content: center;
}
#aboutme #pfp{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#aboutme p{
    flex: 2 0 450px;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}



#media{
    width: 100%;
    gap: 10px;
}
#media h2{
    width: 100%;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
    text-align: center;
}
.carousel{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar{
    display: none
}
.carousel::scroll-button(right){
    content:'';
}
.card{
    height: 240px;
    width: 240px;
    object-fit: cover;
    align-content: center;
}



#projects h2{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
#project-displayer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px var(--highlight);
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}
.project{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 240px;
    height: max-content;
    border-radius: 25px;
    box-shadow: 0 0 8px var(--glass);
}
.project:hover{
    background-color: var(--alt-dimmer);
}
.project::before{
    content: attr(project-name);
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--glass);
    padding: 10px 20px;
    border: var(--main-color) 2px solid;
    border-radius: 10px;
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project details{
    overflow: hidden;
    margin: 10px;
    margin-top: 30px;
}
.project details::details-content{
    block-size: 0;
    transition:
        block-size 1s,
        content-visibility 1s
    ;
    transition-behavior: allow-discrete;
}
.project summary::marker{
    content: 'Description...';
    justify-content: center;
    color: var(--alt-text-color);
}
.project details[open]::details-content{
    block-size: auto;
}
.project details p{
    color: var(--alt-text-color);
    text-align: justify;
    padding: 10px;
}
.project-img{
    width: 240px;
    height: 240px;
    object-fit: contain;
}